.row table {
  margin-top: 10px;
}

.row header {
  font-size: 30px;
}

.row header h1 {
  font-family: "Knockout 49 A", "Knockout 49 B";
  font-size: 1em;
}

.row header p {
  font-size: 0.55em;
}

.form-button {
  display: inline-block;
  font-family: inherit;
  padding: 3px 6px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: none;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.form-button-blue {
  color: rgb(34, 34, 34);
  background-color: rgb(68, 171, 223);
  border-color: rgb(62, 103, 176);
}

@media screen and (max-width: 767px) {
  .form-button {
    width: 100%;
  }
}
