.row p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row .table-header {
  text-align: center;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row table {
  margin-top: 5px;
}

.row header {
  font-size: 30px;
}

.row header h1 {
  font-family: "Knockout 49 A", "Knockout 49 B";
  font-size: 1em;
}

.row header p {
  font-size: 0.55em;
}

.row .chart-cell {
  margin: 10px 0 0 0;
}

.row .chart-legend {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  margin: 5px 0 0 0;
}

.row .chart-legend li {
  display: inline;
}

.altered-select-item {
  font-size: 1em;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  width: 100%;
}

.altered-select-item dt {
  padding-right: 0.5em;
  color: #666666 !important;
  margin-left: 0;
  text-transform: none;
  margin: 0 0 0.25em 0;
}

.option-select {
  font-size: 17px;
  line-height: 145%;
  color: rgb(34, 34, 34);
  border: 1px solid rgb(204, 204, 204);
  padding: 2px 4px;
}

.form-button {
  display: inline-block;
  font-family: inherit;
  padding: 3px 6px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: none;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.form-button-blue {
  color: rgb(34, 34, 34);
  background-color: rgb(68, 171, 223);
  border-color: rgb(62, 103, 176);
}

@media screen and (max-width: 767px) {
  .form-button {
    width: 100%;
  }
}
