<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>All Things Are Temporary</title>
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/COMPRESSED/css/a05f7a3f3c31.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/common/fonts/fonts.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="flatpage responsive">

<div class="wrapper content-wrapper">
<section id="site_content" class="content bare">
    <div class="grid">
        <header>
            <h1>Interactive: All Things Are Temporary</h1>
            <ul class="meta separator clearfix">
                <li class="byline">by <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> and Dan Hill</li>
                <li>December 3, 2013</li>
            </ul>
        </header>
    </div>

    <div class="grid">
        <div class="cell w-12 prose">
          <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic.</p>
        </div>
    </div>

    <div class="grid">
      <dl class="altered-select-item cell w-6">
        <dt>Sort By</dt>
        <select class="option-select" id="sort-select">
          <option value="poverty_2011">Child Poverty Rate (2011)</option>
          <option value="unemploy_2011">Unemployment Rate (2011)</option>
        </select>
      </dl>
      <dl class="altered-select-item cell w-6">
        <dt>Select County</dt>
        <select class="option-select" id="county-select">
          <option value="Anderson">Anderson County</option>
          <option value="Andrews">Andrews County</option>
          <option value="Angelina">Angelina County</option>
          <option value="Aransas">Aransas County</option>
          <option value="Archer">Archer County</option>
          <option value="Armstrong">Armstrong County</option>
          <option value="Atascosa">Atascosa County</option>
          <option value="Austin">Austin County</option>
          <option value="Bailey">Bailey County</option>
          <option value="Bandera">Bandera County</option>
          <option value="Bastrop">Bastrop County</option>
          <option value="Baylor">Baylor County</option>
          <option value="Bee">Bee County</option>
          <option value="Bell">Bell County</option>
          <option value="Bexar">Bexar County</option>
          <option value="Blanco">Blanco County</option>
          <option value="Borden">Borden County</option>
          <option value="Bosque">Bosque County</option>
          <option value="Bowie">Bowie County</option>
          <option value="Brazoria">Brazoria County</option>
          <option value="Brazos">Brazos County</option>
          <option value="Brewster">Brewster County</option>
          <option value="Briscoe">Briscoe County</option>
          <option value="Brooks">Brooks County</option>
          <option value="Brown">Brown County</option>
          <option value="Burleson">Burleson County</option>
          <option value="Burnet">Burnet County</option>
          <option value="Caldwell">Caldwell County</option>
          <option value="Calhoun">Calhoun County</option>
          <option value="Callahan">Callahan County</option>
          <option value="Cameron">Cameron County</option>
          <option value="Camp">Camp County</option>
          <option value="Carson">Carson County</option>
          <option value="Cass">Cass County</option>
          <option value="Castro">Castro County</option>
          <option value="Chambers">Chambers County</option>
          <option value="Cherokee">Cherokee County</option>
          <option value="Childress">Childress County</option>
          <option value="Clay">Clay County</option>
          <option value="Cochran">Cochran County</option>
          <option value="Coke">Coke County</option>
          <option value="Coleman">Coleman County</option>
          <option value="Collin">Collin County</option>
          <option value="Collingsworth">Collingsworth County</option>
          <option value="Colorado">Colorado County</option>
          <option value="Comal">Comal County</option>
          <option value="Comanche">Comanche County</option>
          <option value="Concho">Concho County</option>
          <option value="Cooke">Cooke County</option>
          <option value="Coryell">Coryell County</option>
          <option value="Cottle">Cottle County</option>
          <option value="Crane">Crane County</option>
          <option value="Crockett">Crockett County</option>
          <option value="Crosby">Crosby County</option>
          <option value="Culberson">Culberson County</option>
          <option value="Dallam">Dallam County</option>
          <option value="Dallas">Dallas County</option>
          <option value="Dawson">Dawson County</option>
          <option value="Deaf"> DeafSmith County</option>
          <option value="Delta">Delta County</option>
          <option value="Denton">Denton County</option>
          <option value="DeWitt">DeWitt County</option>
          <option value="Dickens">Dickens County</option>
          <option value="Dimmit">Dimmit County</option>
          <option value="Donley">Donley County</option>
          <option value="Duval">Duval County</option>
          <option value="Eastland">Eastland County</option>
          <option value="Ector">Ector County</option>
          <option value="Edwards">Edwards County</option>
          <option value="Ellis">Ellis County</option>
          <option value="El"> ElPaso County</option>
          <option value="Erath">Erath County</option>
          <option value="Falls">Falls County</option>
          <option value="Fannin">Fannin County</option>
          <option value="Fayette">Fayette County</option>
          <option value="Fisher">Fisher County</option>
          <option value="Floyd">Floyd County</option>
          <option value="Foard">Foard County</option>
          <option value="Fort"> FortBend County</option>
          <option value="Franklin">Franklin County</option>
          <option value="Freestone">Freestone County</option>
          <option value="Frio">Frio County</option>
          <option value="Gaines">Gaines County</option>
          <option value="Galveston">Galveston County</option>
          <option value="Garza">Garza County</option>
          <option value="Gillespie">Gillespie County</option>
          <option value="Glasscock">Glasscock County</option>
          <option value="Goliad">Goliad County</option>
          <option value="Gonzales">Gonzales County</option>
          <option value="Gray">Gray County</option>
          <option value="Grayson">Grayson County</option>
          <option value="Gregg">Gregg County</option>
          <option value="Grimes">Grimes County</option>
          <option value="Guadalupe">Guadalupe County</option>
          <option value="Hale">Hale County</option>
          <option value="Hall">Hall County</option>
          <option value="Hamilton">Hamilton County</option>
          <option value="Hansford">Hansford County</option>
          <option value="Hardeman">Hardeman County</option>
          <option value="Hardin">Hardin County</option>
          <option value="Harris">Harris County</option>
          <option value="Harrison">Harrison County</option>
          <option value="Hartley">Hartley County</option>
          <option value="Haskell">Haskell County</option>
          <option value="Hays">Hays County</option>
          <option value="Hemphill">Hemphill County</option>
          <option value="Henderson">Henderson County</option>
          <option value="Hidalgo">Hidalgo County</option>
          <option value="Hill">Hill County</option>
          <option value="Hockley">Hockley County</option>
          <option value="Hood">Hood County</option>
          <option value="Hopkins">Hopkins County</option>
          <option value="Houston">Houston County</option>
          <option value="Howard">Howard County</option>
          <option value="Hudspeth">Hudspeth County</option>
          <option value="Hunt">Hunt County</option>
          <option value="Hutchinson">Hutchinson County</option>
          <option value="Irion">Irion County</option>
          <option value="Jack">Jack County</option>
          <option value="Jackson">Jackson County</option>
          <option value="Jasper">Jasper County</option>
          <option value="Jeff"> JeffDavis County</option>
          <option value="Jefferson">Jefferson County</option>
          <option value="Jim"> JimHogg County</option>
          <option value="Jim"> JimWells County</option>
          <option value="Johnson">Johnson County</option>
          <option value="Jones">Jones County</option>
          <option value="Karnes">Karnes County</option>
          <option value="Kaufman">Kaufman County</option>
          <option value="Kendall">Kendall County</option>
          <option value="Kenedy">Kenedy County</option>
          <option value="Kent">Kent County</option>
          <option value="Kerr">Kerr County</option>
          <option value="Kimble">Kimble County</option>
          <option value="King">King County</option>
          <option value="Kinney">Kinney County</option>
          <option value="Kleberg">Kleberg County</option>
          <option value="Knox">Knox County</option>
          <option value="Lamar">Lamar County</option>
          <option value="Lamb">Lamb County</option>
          <option value="Lampasas">Lampasas County</option>
          <option value="La"> LaSalle County</option>
          <option value="Lavaca">Lavaca County</option>
          <option value="Lee">Lee County</option>
          <option value="Leon">Leon County</option>
          <option value="Liberty">Liberty County</option>
          <option value="Limestone">Limestone County</option>
          <option value="Lipscomb">Lipscomb County</option>
          <option value="Live"> LiveOak County</option>
          <option value="Llano">Llano County</option>
          <option value="Loving">Loving County</option>
          <option value="Lubbock">Lubbock County</option>
          <option value="Lynn">Lynn County</option>
          <option value="McCulloch">McCulloch County</option>
          <option value="McLennan">McLennan County</option>
          <option value="McMullen">McMullen County</option>
          <option value="Madison">Madison County</option>
          <option value="Marion">Marion County</option>
          <option value="Martin">Martin County</option>
          <option value="Mason">Mason County</option>
          <option value="Matagorda">Matagorda County</option>
          <option value="Maverick">Maverick County</option>
          <option value="Medina">Medina County</option>
          <option value="Menard">Menard County</option>
          <option value="Midland">Midland County</option>
          <option value="Milam">Milam County</option>
          <option value="Mills">Mills County</option>
          <option value="Mitchell">Mitchell County</option>
          <option value="Montague">Montague County</option>
          <option value="Montgomery">Montgomery County</option>
          <option value="Moore">Moore County</option>
          <option value="Morris">Morris County</option>
          <option value="Motley">Motley County</option>
          <option value="Nacogdoches">Nacogdoches County</option>
          <option value="Navarro">Navarro County</option>
          <option value="Newton">Newton County</option>
          <option value="Nolan">Nolan County</option>
          <option value="Nueces">Nueces County</option>
          <option value="Ochiltree">Ochiltree County</option>
          <option value="Oldham">Oldham County</option>
          <option value="Orange">Orange County</option>
          <option value="Palo"> PaloPinto County</option>
          <option value="Panola">Panola County</option>
          <option value="Parker">Parker County</option>
          <option value="Parmer">Parmer County</option>
          <option value="Pecos">Pecos County</option>
          <option value="Polk">Polk County</option>
          <option value="Potter">Potter County</option>
          <option value="Presidio">Presidio County</option>
          <option value="Rains">Rains County</option>
          <option value="Randall">Randall County</option>
          <option value="Reagan">Reagan County</option>
          <option value="Real">Real County</option>
          <option value="Red"> RedRiver County</option>
          <option value="Reeves">Reeves County</option>
          <option value="Refugio">Refugio County</option>
          <option value="Roberts">Roberts County</option>
          <option value="Robertson">Robertson County</option>
          <option value="Rockwall">Rockwall County</option>
          <option value="Runnels">Runnels County</option>
          <option value="Rusk">Rusk County</option>
          <option value="Sabine">Sabine County</option>
          <option value="San"> SanAugustine County</option>
          <option value="San"> SanJacinto County</option>
          <option value="San"> SanPatricio County</option>
          <option value="San"> SanSaba County</option>
          <option value="Schleicher">Schleicher County</option>
          <option value="Scurry">Scurry County</option>
          <option value="Shackelford">Shackelford County</option>
          <option value="Shelby">Shelby County</option>
          <option value="Sherman">Sherman County</option>
          <option value="Smith">Smith County</option>
          <option value="Somervell">Somervell County</option>
          <option value="Starr">Starr County</option>
          <option value="Stephens">Stephens County</option>
          <option value="Sterling">Sterling County</option>
          <option value="Stonewall">Stonewall County</option>
          <option value="Sutton">Sutton County</option>
          <option value="Swisher">Swisher County</option>
          <option value="Tarrant">Tarrant County</option>
          <option value="Taylor">Taylor County</option>
          <option value="Terrell">Terrell County</option>
          <option value="Terry">Terry County</option>
          <option value="Throckmorton">Throckmorton County</option>
          <option value="Titus">Titus County</option>
          <option value="Tom"> TomGreen County</option>
          <option value="Travis">Travis County</option>
          <option value="Trinity">Trinity County</option>
          <option value="Tyler">Tyler County</option>
          <option value="Upshur">Upshur County</option>
          <option value="Upton">Upton County</option>
          <option value="Uvalde">Uvalde County</option>
          <option value="Val"> ValVerde County</option>
          <option value="Van"> VanZandt County</option>
          <option value="Victoria">Victoria County</option>
          <option value="Walker">Walker County</option>
          <option value="Waller">Waller County</option>
          <option value="Ward">Ward County</option>
          <option value="Washington">Washington County</option>
          <option value="Webb">Webb County</option>
          <option value="Wharton">Wharton County</option>
          <option value="Wheeler">Wheeler County</option>
          <option value="Wichita">Wichita County</option>
          <option value="Wilbarger">Wilbarger County</option>
          <option value="Willacy">Willacy County</option>
          <option value="Williamson">Williamson County</option>
          <option value="Wilson">Wilson County</option>
          <option value="Winkler">Winkler County</option>
          <option value="Wise">Wise County</option>
          <option value="Wood">Wood County</option>
          <option value="Yoakum">Yoakum County</option>
          <option value="Young">Young County</option>
          <option value="Zapata">Zapata County</option>
          <option value="Zavala">Zavala County</option>
        </select>
      </dl>
    </div>

    <hr>

    <div class="grid">
      <div class="row-container" id="row-container"></div>
    </div>

    <div class="grid footer">
        Source: TODO | <a href="http://www.texastribune.org/library/data/data-feedback/">Feedback</a> | Follow <a href="http://www.twitter.com/tribnerds">@TribNerds</a> on Twitter.
    </div>

    <script type="text/template" id="row-template">

    <div class="grid">
      <header>
        <h1><%= county %> County</h1>
      </header>
    </div>
    <div class="grid">
      <table class="tt-table striped borders condensed">
        <thead>
          <tr>
            <th>Children Living in Poverty (Total)</th>
            <th>Children Living in Poverty (Rate)</th>
            <th>Unemployment (Total)</th>
            <th>Unemployment (Rate)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= poverty_raw_children['Number-2011'].toLocaleString() %></td>
            <td><%= this.model.getLatestChildPovertyRate() %>%</td>
            <td><%= unemployment_raw['Number-2011'].toLocaleString() %></td>
            <td><%= this.model.getLatestUnemploymentRate() %>%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid">
      <div class="cell w-9"><p>The number of children living in poverty in <%= county %> County <strong><%= this.model.calculatePovertyChange() %> percent</strong> between 2000 and 2011, while the population of children <strong><%= this.model.calculateChildPopChange() %> percent</strong>. The county child poverty rate in 2011 was <strong><%= this.model.calculateDiffFromTexas() %></strong> the child poverty rate for the state.</p></div>
      <div class="cell w-3"><button type="button" class="form-button form-button-blue load-chart">View chart</button></div>
    </div>
    <div class="grid chart-cell hidden">
      <canvas class="chart-container"></canvas>
      <ul class="chart-legend">
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(177, 33, 37); margin: 0 3px 0 0;"></span>Children in poverty - County</li>
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(220, 139, 106); margin: 0 3px 0 6px;"></span>Children in poverty - State</li>
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(62, 103, 176); margin: 0 3px 0 6px;"></span>Unemployment Rate - County</li>
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(68, 171, 223); margin: 0 3px 0 6px;"></span>Unemployment Rate - State</li>
      </ul>
    </div>

    </script>
</section>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/jquery/1.7.2/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/jqueryui/jquery-ui-1.8.18.min.js"><\/script>')</script>
<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/modernizr/modernizr.min.js"></script>

<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/libs/Chart.js"></script>

<script src="data/data.js"></script>

<script src="js/models.js"></script>
<script src="js/collections.js"></script>
<script src="js/views.js"></script>
<script src="js/app.js"></script>

</body>
</html>
