<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>All Things Are Temporary</title>
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/COMPRESSED/css/a05f7a3f3c31.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/common/fonts/fonts.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="flatpage responsive">

<div class="wrapper content-wrapper">
<section id="site_content" class="content bare">
    <div class="grid">
        <header>
            <h1>Interactive: All Things Are Temporary</h1>
            <ul class="meta separator clearfix">
                <li class="byline">by <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> and Dan Hill</li>
                <li>December 3, 2013</li>
            </ul>
        </header>
    </div>

    <div class="grid">
        <div class="cell w-12 prose">
          <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of deductive logic.</p>
        </div>
    </div>

    <div class="grid">
      <div class="row-container" id="row-container"></div>
    </div>

    <div class="grid footer">
        Source: TODO | <a href="http://www.texastribune.org/library/data/data-feedback/">Feedback</a> | Follow <a href="http://www.twitter.com/tribnerds">@TribNerds</a> on Twitter.
    </div>

    <script type="text/template" id="row-template">

    <div class="grid">
      <header>
        <h1><%= county %> County</h1>
      </header>
    </div>
    <div class="grid">
      <table class="tt-table striped borders condensed">
        <thead>
          <tr>
            <th>Children living in poverty</th>
            <th>Child Population</th>
            <th>Unemployment</th>
            <th>Total Population</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= poverty_raw_children.toLocaleString() %></td>
            <td><%= child_pop.toLocaleString() %></td>
            <td><%= unemployment_raw.toLocaleString() %></td>
            <td><%= pop.toLocaleString() %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid">
      <div class="cell w-9"><p>The rate of children living in poverty changed <%= this.model.calculatePovertyChange() %> percent between 2000 and 2011.</p></div>
      <div class="cell w-3"><button type="button" class="form-button form-button-blue load-chart">View chart</button></div>
    </div>
    <div class="grid chart-cell hidden">
      <canvas class="chart-container"></canvas>
      <ul class="chart-legend">
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(177, 33, 37); margin: 0 3px 0 0;"></span>Children in poverty - County</li>
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(220, 139, 106); margin: 0 3px 0 6px;"></span>Children in poverty - State</li>
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(62, 103, 176); margin: 0 3px 0 6px;"></span>Unemployment Rate - County</li>
        <li><span style="display: inline-block; height: 8px; width: 15px; background-color: rgb(68, 171, 223); margin: 0 3px 0 6px;"></span>Unemployment Rate - State</li>
      </ul>
    </div>

    </script>
</section>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/jquery/1.7.2/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/jqueryui/jquery-ui-1.8.18.min.js"><\/script>')</script>
<script src="https://s3.amazonaws.com/static.texastribune.org/common/vendor/modernizr/modernizr.min.js"></script>

<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/libs/Chart.js"></script>

<script src="data/data.js"></script>

<script src="js/models.js"></script>
<script src="js/collections.js"></script>
<script src="js/views.js"></script>
<script src="js/app.js"></script>

</body>
</html>
